#title{
    background-color: #ff4c68;
    color: white;
}

.heading{
    font-family: 'Montserrat-Black';
    font-size: 4rem;
    line-height: 1.5;
}

.container-fluid{
    padding: 3% 15%;
}

.content{
    margin:50px 0px;
}

body{
    font-family: 'Montserrat';
}

.navbar{
    padding-bottom: 5rem;
}

.nav-item{
    padding: 0px 20px;
}

.nav-link{
    font-size: 1.2 rem;
    font-family: "Montserrat-Light";
}
.navbar-brand{
    font-family: "Ubuntu";
    font-weight: bold;
    font-size: 2.5 rem;
}

.download-btn{
    margin: 10px;
}

.title-img{
    width:50%;
    transform: rotate(25deg)
}

#features{
    padding:7% 15%;
}

.feature-box{
    text-align: center;
    padding: 4.5%;
}

h3{
    font-family: "Montserrat-Bold";
}

.icon{
    color:#ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68;
}

#testimonials{
    font-family: "Montserrat-Bold";
    background-color:#ff4c68;
    text-align: center;
    color: #fff;
}

.carousel-item{
    padding: 10%;
}
.testimonial-image{
    width:10%;
    border-radius: 100%;
}

#press{
    font-family: "Montserrat-Bold";
    background-color:#ff4c68;
    text-align: center;
    color: #fff;
    padding-bottom: 50px;
}

.press-img{
    width:15%;
    margin: 0px 30px;
}

#pricing{
    font-family: "Montserrat-Bold";
    text-align: center;
    padding: 100px;
}

.pricing-block{
    padding: 3% 2%;
}

#cta{
    text-align: center;
    color: #fff;
    background-color: #ff4c68;
    font-family: "Montserrat-Black";
    line-height: 1.5 rem;
    padding: 5% 5%;
    font-size: 3.5 rem;
}

#footer{
    padding: 5% 5%;
    text-align: center;
}

.copyright{
    margin-top: 20px;
}

@media screen and (max-width: 1024px) {
    .container-fluid{
        text-align: center;
    }
    .title-img{
        transform: rotate(0deg)
    }
}